body{
  background-color: #242424;
}
div{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}
h1{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}
h2{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}
span{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 700  ;
}
img{
  margin: 0;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.sectiontwo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title{
  text-align: center;
  font-size: 6vw;
  color: white;
  margin-bottom: 2vw;
}
.subtitle{
  text-align: center;
  color: white;
  font-size: 2vw;
}
.startimg{
  width: 40vw;
}
.sus{
  text-align: left;
  color: white;
  margin-left: 5vw;
  width: 40vw;
}
.steptitle{
  text-align: left;
  color: white;
  font-size: 5vw;
}
.steps{
  text-align: left;
  color: white;
  font-size: 2vw;
}
.bounce{
  font-size: 4vw;
  color: white;
  width: 80vw;
  text-align: center;
}
.button{
  margin-top: 8vw;
  background-color: white;
  width: 30vw;
  height: 6vw;
  border-radius: 1vw;
}
.buttontext{
  color: #242424;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400  ;
  font-size: 2vw;
}
.button:hover{
  opacity: .8;
}
.finishedimg{
  margin: 0;
  margin-top: 5vw;
  width: 80%
}